includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Trait [a-zA-Z0-9\\_]* is used zero times and is not analysed.#'
